<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">            <link href="{{ asset('bundles/app/css/app.css') }}" type="text/css" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('bundles/app/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <div id="app" class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_category_list') }}">To-do list</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-info my-2 my-sm-0" type="button" href="{{ path('app_task_new') }}">Add Task</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="btn btn-danger nav-link" href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-info nav-link" href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary nav-link" href="{{ path('fos_user_registration_register') }}">
                            <i class="fa fa-user-plus"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </nav>

    {% if app.session.started and app.session.flashBag.peekAll is not empty %}
        <div class="messages">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
                    <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <header>
            {% block header %}
                <h1>Welcome !</h1>
            {% endblock %}
        </header>
        <div class="row">

                {% block content '' %}
        </div>
        <footer class="text-center">
            {% block footer %}
                © {{ "now"|date('Y') }} FAIT AVEC AMOUR ♥
            {% endblock %}
        </footer>
    </div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
