{% extends "::base.html.twig" %}
    {% block title 'Tasks' %}

    {% block header %}
    {% endblock %}

{% block content %}
    {% for cat in category %}
    <div class="col-md-3 column">
        <h3>{{ cat.name }} <span class="badge badge-pill badge-info">{{ cat.tasks |length }}</span></h3>
        {% for task in cat.tasks %}
        <div class="card text-center">
            <div class="card-header" role="tab" id="cardid">

                {{ task.name }}.
                <span class="pull-right clickable">
                    <a data-toggle="collapse" data-parent="#faq" href="#card{{ task.id }}" aria-expanded="false" aria-controls="test">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </span>
            </div>
            <div id="card{{ task.id }}" class="collapse" role="tabcard" aria-labelledby="cardid">
                <div class="card-block">
                    <p class="card-text">{{ task.description }}</p>
                    <a class="btn btn-info" href="{{ path('app_task_edit',{'id' :task.id}) }}">
                        <i class="fa fa-pencil fa-fw"></i> Edit</a>
                    <a class="btn btn-danger" href="{{ path('app_task_del',{'id' :task.id}) }}">
                        <i class="fa fa-trash-o fa-lg"></i> Delete</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                Created {{ task.createdAt|time_ago_in_words }}
            </div>
        </div>
        {% else %}
            No Task.
        {% endfor %}
    </div>
    {% else %}
        No Cat.
{% endfor %}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
