{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "::base.html.twig" %}
    {% block title 'EDIT TASK' %}

    {% block header %}
    {% endblock %}

{% block content %}
    <div class="formEditTask text-center col align-self-center">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.name, 'Name') }}
        {{ form_widget(form.name, { 'attr': { 'placeholder': ''|trans} }) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">SEND</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
